:root {
    --color: #04B3B3;
    --text-color: #545454;
}

* {
    box-sizing: border-box;
/*    border: 1px solid red;*/
}

a {
    color: #000;
    text-decoration: none;
}

html,
body {
    color: var(--text-xolor);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

header {
    background-color: var(--color);
    color: white;
}

header .wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapper {
    max-width: 60%;
    margin: auto;
}


@media (width<=600px) {
    header {
        
    }
    
    .wrapper {
        max-width: 100%;
        padding: 20px;
    }
}