.contact {
    width: 100%;
    aspect-ratio: 4/1;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 6fr 4fr;
}

.contact .buttons > a {
}

.contact .buttons {
    display: grid;
    grid-gap: 2em;
}

.icon {
    width: 42px;
    aspect-ratio: 1;
}

div.map {
    border-radius: var(--br);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

iframe {
    border: none;
}

@media (orientation: portrait){
    .contact {
        aspect-ratio: 1/2;
        grid-template-columns: 1fr;
    }
}
