:root {
    --about-bg: #F0EBD2;
    --about-txt: #1A3637;
    --br: 1em;
}

*,
*:before,
*:after {
    font-family: sans-serif, "Montserrat", cursive;
    box-sizing: border-box;
}

html,
body {
    color: var(--about-txt);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: var(--about-txt);
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 1500px;
    margin: auto;
}



/* header */
header > .wrapper {
    font-size: 36px;
    color: var(--about-txt);
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-items: end;
    grid-template-columns: auto 1fr;
}
nav {
    font-size: 24px;
    display: flex;
    gap: 20px;
}



@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (width<=1366px) {
    .wrapper {
        width: 80%;
    }

    #services {
        background-color: red;
    }
}

@media (orientation: portrait) {
    body {
        background-color: purple;
    }

    .wrapper {
        width: 100%;
        padding: 2em;
        overflow: hidden;
    }
    
    header > .wrapper nav {
        display: none;
    }
}
