:root {
    --about-bg: #F0EBD2;
    --about-txt: #1A3637;
    --br: 1em;
}

*,
*:before,
*:after {
    font-family: "Montserrat", cursive;
    box-sizing: border-box;
}

html,
body {
    color: var(--about-txt);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: var(--about-txt);
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 1500px;
    margin: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
