:root {
    --about-bg: #F0EBD2;
    --about-txt: #1A3637;
    --br: 1rem;
}

*,
*:before,
*:after {
    font-family: sans-serif, "Montserrat", cursive;
    box-sizing: border-box;
}

html,
body {
    color: var(--about-txt);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: var(--about-txt);
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 80%;
    max-width: 1500px;;
    margin: auto;
}



/* header */
header > .wrapper {
    display: flex;
    padding: 1rem;
    height: 100px;
    font-size: 2em;
    justify-content: space-between;
}

header .wrapper div {
    height: 100%;
    display: flex;
    grid-gap: 1rem;
    align-items: center;
}
header .logo {
    height: 100%;
    aspect-ratio: 1/1;
}

nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}





/* Услуги */
.service {
    display: grid;
    grid-gap: 3em;
    margin: 2em 0;
    grid-template-columns: 3fr 5fr 1fr 1fr;
}

#services>div:first-child {
    font-size: 16px;
    font-weight: 100;
}

#services .title {
    margin: auto 0;
    font-size: 28px;
}

#services .note {
    margin: auto 0;
    font-size: 20px;
}

#services .price {
    margin: auto 0;
    font-size: 32px;
}

#services .more {
    margin: auto 0;
    text-align: end;
}





@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (width<=1366px) {
    body {
        background-color: blue;
    }
    
    .wrapper {width: 80%}
    
    header > .wrapper,
    nav {
        font-size: 18px;
    }

    #services {
        background-color: red;
    }
}

@media (orientation: portrait) {
    body {
        background-color: purple;
    }
    
    header > .wrapper,
    nav {
        height: 5rem;
        font-size: 1em;
        border: 1px solid red;
    }
    
    .header > .wrapper .logo {
        
    }
    
    .wrapper {
        width: 100%;
        padding: 1em;
        overflow: hidden;
    }
    
    header > .wrapper nav {
        display: none;
    }
}
